body {
    font-family: "Spirax", sans-serif;
    margin: 0;
}

main {
    font-family: "Poiret One", sans-serif;
}

.navbar {
    display: flex;
    background-color: #16080ca8;
    justify-content: center;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000;
}

.nav-item {
    margin: 20px;
}

.nav-item a {
    font-size: 3rem;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 5rem;
    text-align: center;
    color: darkred;
    padding-top: 30px;
    margin: 0;
}

#hot {
    background-image: url(assets/hot.jpg);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#juicy {
    background-image: url(assets/juicy.jpg);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cosy {
    background-image: url(assets/cosy.jpg);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usps {
    width: 60%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.usp {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 800px;
}

.left {
    align-self: flex-start; 
    min-width: 80%;
}

.right {
    align-self: flex-end; 
    min-width: 80%;
}

.usp p {
    font-size: 1.5rem;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.prices {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
    background-color: #1a1a1a;
    padding: 20px;
}

.product {
    padding: 0 20px 0 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.divider {
    width: 100vw;
    background-color: darkred;
    height: 20px;
}

@media screen and (max-width: 600px) {

    #hot {
        height: 50vh;
    }

    .nav-item a {
        font-size: 1.5rem;
    }

    header h1 {
        font-size: 3rem;
    }

    .usps {
        width: 80%;
    }
    
    .left {
        align-self: center;
    }

    .usp.left p {
        font-size: 1rem;
    }

    .usp.right {
        display: none;
    }

    .product {
        font-size: 1rem;
    }
  }